<html>
  <head>
    <title>Email Validation with DB</title>
  </head>
  <body>
    <h1>Advanced Validation Example</h1>
    <h1>Enter a Valid(Any) Email!</h1>
    <!-- with messages gets us the variable "messages" from the get_flashed_messages() function -->
    {% with messages = get_flashed_messages() %}
    <!-- "if messages" Checks if there are even any messages that came back from the get_flashed_messages() function -->  
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}    
    <form action="/process" method="POST">
    Email:<input type="text" name="email">
    <input type="submit" value="Submit">
    </form>
      
      
    
  
  </body>
  </html>
  
